.container {
  padding: 0;

}

.icone {
  width: 15px;
  position: absolute;
  top:9px;
  transition: color 0.15s ease;
  cursor:pointer;
}

.icone:hover {
  color:#777;
}

.headbar {
  box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
  text-align:center;
  margin:0px;
  padding:0px;
}

.lista {
  padding: 0px 0px 0px 30px;
  margin-top:20px
}

.categoria{
  margin-top:15px;
}

.categoria div{
  width:100%
}